<!DOCTYPE html>
<html>
    <head>
        <title>Register | Bevan's Wiki</title>
    </head>
    <body>
        <h1>Register</h1>
        <p>Your username may only contain letters and numbers. Your password must be at least 8 characters.</p>
        <form method="post">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit">
        </form>
        <h2>Already have an account?</h2>
        <a href="/login">Login here.</a>
    </body>
</html>